/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * Jorge A. Toro
 * @jolthgs
 * © 2014 Dev Microsystem S.A.S.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face{font-family:"ProximaNovaLight";src:url(https://d1sxz8h7k5u0wb.cloudfront.net/assets/proximanova-light-webfont-9b66c6b0cdeb7bc17820d8ee425a80ae.eot);src:url(https://d1sxz8h7k5u0wb.cloudfront.net/assets/proximanova-light-webfont.eot?#iefix) format("embedded-opentype"),url(https://d1sxz8h7k5u0wb.cloudfront.net/assets/proximanova-light-webfont-9ce05fd638579e7bb6d277ddbfe36ac8.woff) format("woff"),url(https://d1sxz8h7k5u0wb.cloudfront.net/assets/proximanova-light-webfont-9097d8ef2cfba0c7baea7c3f20dd70ef.ttf) format("truetype"),url(https://d1sxz8h7k5u0wb.cloudfront.net/assets/proximanova-light-webfont.svg#ProximaNovaLight) format("svg");font-weight:normal;font-style:normal}
@font-face{font-family:"ProximaNovaSemiBold";src:url(https://d1sxz8h7k5u0wb.cloudfront.net/assets/proximanova-semibold-webfont-7b8e295eb34ec7334e6ee581207b735d.eot);src:url(https://d1sxz8h7k5u0wb.cloudfront.net/assets/proximanova-semibold-webfont.eot?#iefix) format("embedded-opentype"),url(https://d1sxz8h7k5u0wb.cloudfront.net/assets/proximanova-semibold-webfont-cd7ad6de0a11f4ccc264ac0043d94a13.woff) format("woff"),url(https://d1sxz8h7k5u0wb.cloudfront.net/assets/proximanova-semibold-webfont-03fc71e3999b8b01f4b6a3c087268dc6.ttf) format("truetype"),url(https://d1sxz8h7k5u0wb.cloudfront.net/assets/proximanova-semibold-webfont.svg#ProximaNovaSemiBold) format("svg");font-weight:normal;font-style:normal}
@font-face{font-family:"RobotoMedium";src:url(https://d1sxz8h7k5u0wb.cloudfront.net/assets/Roboto-Medium-webfont-ad42e36bb33bbf4832ab19eb415521be.eot);src:url(https://d1sxz8h7k5u0wb.cloudfront.net/assets/Roboto-Medium-webfont.eot?#iefix) format("embedded-opentype"),url(https://d1sxz8h7k5u0wb.cloudfront.net/assets/Roboto-Medium-webfont-7c6cea4d6390955e495a2dea554292d1.woff) format("woff"),url(https://d1sxz8h7k5u0wb.cloudfront.net/assets/Roboto-Medium-webfont-de8feae74fd427246330fed49f891ac3.ttf) format("truetype"),url(https://d1sxz8h7k5u0wb.cloudfront.net/assets/Roboto-Medium-webfont.svg#RobotoMedium) format("svg");font-weight:normal;font-style:normal}

body {
    font: 17px/1.2 ProximaNovaLight;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
	color: #646f76;
}

a {
    text-decoration: none;
}

a:focus{
	outline:none;border:none
}

h1, h2, h3, h4 {
    font-weight: normal;
    margin: 0 0 1em;
    padding: 0;
	color: #3a4145;
}

h1 {
    font-size: 62px;
    color: #fc0;
    line-height: 1;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1);
    width: 570px;
}

h2 {
	font-size: 48px;
	text-align: center;
}

h3 {
    font-size: 26px;
    font-family: ProximaNovaSemiBold;
}


/** Header **/

#header {
    position: fixed;
    background: rgba(255,255,255,0.9);
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 0 0;
}

.inner {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
    overflow: hidden;
    position: relative;
}

.logo {
    float: left;
    width: 239px;
    height: 67px;
    background: url(/static/img/logo.png) no-repeat;
    background-size: 100% auto;
    text-indent: -9999px;
}

#nav {
    list-style: none;
    padding: 0;
    float: right;
}

#nav li {
    float: left;
}

#nav>li {
    margin: 0;
    padding: 0;
}
#nav a {
    float: left;
    padding: 15px 18px;
    color: #646f76;
    line-height: 1;
    transition: .2s;
}

#nav .launch {
    margin-left: 18px;
}

#nav a.launch {
    display: inline-block;
    background: rgb(255,204,0);
    padding: 15px 18px;
    color: #fff;
    border-radius: 4px;
    line-height: 1;
    font-family: RobotoMedium;
    white-space: nowrap;
    transition: .2s;
}

#nav a:hover, .nav a:focus{
	color: #fc0;
}

#nav a.launch:hover{
	color: #646f76;
}


/** Hero **/

#hero {
    margin-top: 88px;
    position: relative;
}

#hero .inner {
    height: 575px;
    padding-top: 100px;
    z-index:3;
}

#hero img {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    right: 30px;
}

#map-canvas, #map_canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#mapOverlay {
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}


/** overview **/

#overview {
    background: #fff;
    padding: 100px 0;
    text-align: center;
    position: relative;
    z-index: 2;
}

#overview .top {
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    height: 10px;
    background-size: auto 10px;
}

#overview ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

#overview ul li {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    font-size: 18px;
    margin-bottom: 75px;
}

#overview ul>li {
    margin: 0;
    padding: 0;
}

#overview .icon {
    height: 195px;
}

#overview p {
    margin: 0 15px;
}

#overview .bottom {
	position: absolute;
	bottom: -10px;
	left: 0;
	right: 0;
	height: 10px;
	background-size: auto 10px;
}




/** features **/

#features {
	padding: 100px 0;
	font-size: 16px;	
	background-color: rgb(255, 204, 0);
}





/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */

@media only screen and (max-width : 480px) {
	
	#nav a {
	    color: green;
 	}

}


