$def with()
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <title>Sitio Web | RasTree</title>
 <meta name="description" content="Rastree, Gestione y rastree sus activos moviles, monitoreo satelital, seguimiento vehicular, gps vehicular.">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

 <link rel="stylesheet" href="/static/css/normalize.css">
 <link rel="stylesheet" href="/static/css/main.css">
 <script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<script>
  // Si es un Movil redirige a "/app"
  (function() {
    if (!!window.navigator.standalone) {
      window.location = '/app';
    }
  }).call(this);
</script>
<body>
 <!--[if lt IE 7]>
   <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
 <![endif]-->
 <div id="top"></div>

 <div id="header">
  <div class="inner">
   <a href="/website#top" class="logo scroll">Rastree</a>
   <ul class="nav">
    <li><a href="/website#system" class="scroll">Sistema</a></li> 
    <li><a href="/website#features" class="scroll">Caracteristicas</a></li> 
    <li><a href="/website#about" class="scroll">Contactenos</a></li> 
    <li><a href="/app" class="launch">Iniciar Web App</a></li> 
   </ul>
  </div>
 </div>

 <div id='hero'>
  <div class='inner'>
   <h1>Rastree y gestione sus activos móviles de forma fácil</h1>
   <!--<img alt="Phone" height="606" src="http://assets.obsurfation.com/assets/website/phone-07af392bfe8c9b4ade703d1aa65cdcd2.png" width="320">-->
   <img alt="Phone" height="606" src="/static/img/phone.png" width="320">
  </div>
  <div id="map-canvas"></div>
  <div id="mapOverlay"></div>
 </div>

 <!-- Add your site or application content here -->
 <p>Hello world! This is HTML5 Boilerplate.</p>

 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
 <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
 <script src="/static/js/plugins.js"></script>
 <script src="/static/js/main.js"></script>

 <!-- Google Maps. -->
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiRVq7IVM7BR1Aa2t8xXojO17RRC2G36A&v=3.0&sensor=false&region=CO"></script>
 <script>
  var styles = [
  {
    stylers: [
      //{ hue: "#ffcc00" },
      { hue: "#646f76" },
      { saturation: -20 }
    ]
  },{
    featureType: "road",
    elementType: "geometry",
    stylers: [
      { lightness: 0 },
      { visibility: "simplified" }
    ]
  },{
    featureType: "road",
    elementType: "labels",
    stylers: [
      { visibility: "off" }
    ]
  }
 ];

  function initialize() {
    //var center = new google.maps.LatLng(4.570949264200543, -74.0423583984375);
    //var center = new google.maps.LatLng(4.017699464336852, -71.38916015625);
    //var center = new google.maps.LatLng(3.9738609758391017, -71.224365234375);
    //var center = new google.maps.LatLng(4.050576786133467, -71.312255859375);
    var center = new google.maps.LatLng(4.3464112753331925, -71.12548828125);
    var mapOptions = {
        //zoom: 11,
        //zoom: 4,
        zoom: 6,
        center: center,
        disableDefaultUI: true,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    map.setOptions({styles: styles});
  }
  google.maps.event.addDomListener(window, 'load', initialize);
 </script>

 <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
 <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
 </script>
</body>
</html>
